<%- include("partials/header"); -%>

<% if (typeof postID  != 'undefined') {%>
  <h1>Post ID: <span id="PostId"><%=postID%></span></h1>
  <div class="container">
    <h2 style="float: left;">Delete Post: </h2>
    <a  href="/" class="post--delete" id="delete-post">x</a>
  </div>
  <br />
  <%}%>
  <h1><%=title%></h1>
  <p><%=content%></p>
  <br />
  <br />
  <hr />
  <% if (typeof images!='undefined'){ images.forEach((image) => {%>
<div style="float: left; padding: 10px;" class="">
  <div class="delete"><a href="#" name="<%= image %>">x</a></div>
  <a href="<%= image %>" ><img style="background-color: grey; height:350px; padding:10px; border-radius: 10px; border: 1px solid black; " src="<%= image %>"></a>
</div>
  <%});}%>

<%- include("partials/footer"); -%>
