<%- include("partials/header"); -%>

<h1 id="postID"><%=typeof postID  != 'undefined' ? postID  : ''%></h1>


<% if (typeof postID  != 'undefined') { %>
<hr />
<h1>Images attached to this post:</h1>
<% postImages.forEach((image) => { %>
   <a href="#"><img style="height: 100px;  border: 1px solid black; padding:1px;" src="<%= image %>"></a>
<% });} %>

<!-- The post selection logic -->
<%if (typeof postID  == 'undefined') {%>
<hr>

    <h1>Select a post to add images to:</h1>
    <select id="post-dropdown" name="post">
        <option value=""> No Option Selected </option>
      <%  posts.forEach(function(post){ %>
        <option value="<%=post.id%>"> <%=post.title%> </option>
        <% }); %>
    </select>
    <%}%>

<hr>
<!-- The image selection logic -->
    <div id="image-container">
      <% images.forEach((image) => { %>
         <a href="#"><img style="height: 100px;  border: 1px solid black; padding:1px;" src="<%= image.url %>"></a>
      <% }) %>
    </div>
<hr>
    <button id="add-image-button">Add Image Choice</button>


</div>

<%- include("partials/footer"); -%>
